.slow-move-container {
    height: 100%;
    width: 100%;
}

.slow-move {
    height: 100%;
    width: 100%;
}

.line-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.line {
    width: 100%;
    height: 20px;
    background-color: white;
}

.dot {
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    display: inline-block;
  }

