.launch-game-container {
    display: flex;
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    height: 90vh;
}

button {
    width: 300px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
    font-weight: 800;
    line-height: 26px;
    text-align: center;     /* will center text in <p>, which is not a flex item */
}