.static-game-element {
    position: absolute;
    height: 110px;
    width: 110px;
    display: flex;
    justify-content: center;
}

.static-game-element:hover {
    cursor: pointer;
}
.static-game-element-disabled {
    visibility: hidden;
}

.static-game-element svg {
    display: block;
    margin: auto;
    fill: white;
    stroke: white;
    stroke-width: 8;
}
